body {
	font-family: 'Inconsolata', sans-serif;
	margin: 0; padding: 0;
	text-align: center;
	width: 100%;
	background-color: black;
    height: 100%;
	color: white;
}

#Clock {
    margin-top: 1em;
    margin-bottom: 2em;
}

#Date {
    font-size: 2.5em;
}

#Time {
    font-size: 3em;
}
